{#
/**
 * @file
 * Template file for the preview report.
 *
 * Available variables:
 * - summary: Object containing summary results.
 * - url: URL this report relates to.
 */
#}

{{ attach_library('accessibility_scanner/axecore') }}
{{ attach_library('accessibility_scanner/google-charts-axecore-cli') }}

{% set status_modifier = summary.is_passing ? 'pass' : 'fail' %}
{% set status_string = summary.is_passing ? 'Pass'|t : 'Fail'|t %}

<div class="axecore-cli-summary axecore-cli-summary--{{ status_modifier }}">
  <h3 class="axecore-cli-summary__url">{{ url }}</h3>
  <div class="axecore-cli-summary__chart" data-violations="{{ summary.num_distinct_violations|default(0) }}" data-incomplete="{{ summary.num_distinct_incomplete|default(0) }}" data-passes="{{ summary.num_distinct_passes|default(0) }}"></div>
  <p>
  {{ '<strong>Status:</strong> <span class="axecore-cli-summary__status axecore-cli-summary__status--@status_modifier">@status_string</span>'|t({
    '@status_modifier': status_modifier,
    '@status_string': status_string,
  })}}<br>
  {{ '<strong>Standards:</strong> @tags'|t({'@tags': summary.tags })}}<br>
  </p>

  <ul class="axecore-cli-summary__counts">
    {% if summary.num_total_violations is not empty %}
    <li><strong>{{ 'Rules Violated:'|t }}</strong> {{ summary.num_distinct_violations }}</li>
    {% endif %}

    {% if summary.num_total_violations is not empty %}
    <li><strong>{{ 'Total Violations:'|t }}</strong> {{ summary.num_total_violations }}</li>
    {% endif %}
  </ul>

  {{ view_button }}
</div>
