{#
/**
 * @file
 * Template file for the preview report.
 *
 * Available variables:
 * - summary: Object containing summary results.
 * - url: URL this report relates to.
 */
#}

{{ attach_library('accessibility_scanner/axecore') }}
{{ attach_library('accessibility_scanner/google-charts-axecore-cli') }}

{% set status_modifier = summary.is_passing ? 'pass' : 'fail' %}
{% set status_string = summary.is_passing ? 'Pass'|t : 'Fail'|t %}


<div class="axecore-cli-full axecore-cli-full--{{ status_modifier }}">
  <h3>{{ 'Violations:'|t }}</h3>
  {% for violation in results.violations %}
  <div class="axecore-cli-full__violation axecore-cli-full__violation--{{ violation.impact }}">
    <h4><span class="axecore-cli-full__violation-impact">{{ violation.impact }}:</span> {{ violation.description }}</h4>
    <h5><a href="{{ violation.helpUrl}}" target="_blank" rel="noopener noreferrer">{{ violation.help }}</a></h5>
    <ul>
    {% for node in violation.nodes %}
      <li>{{ node.failureSummary }}<br><code>{{ node.html }}</code></li>
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
